<div>

    <p>Enter a valid Steam ID to look up recent match statistics:</p>

<form role="search" method="get" action="/player/">
        <div class="form-group">
          <input type="text" class="form-control" name="player_id" placeholder="Enter player ID...">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
</div>